*{margin:0px}



body

{background-image: url(iqb.jpg);
    background-color: pink;
color:white;
background-position: center;
background-size: cover;}

.menu
{background-color: tan;
color: silver;
margin: 30px 30px;
border: 2px solid-black;
padding: 15px;}

.menu ul li
{ float: left;
    display: inline-block;
width: 150px;
height: 20px;
text-align: center;
}

.menu ul li ul
{display:none; }

.menu ul li:hover> ul
{display: block;}

.menu ul li:hover
{background-color :rgb(247, 60, 14);
    color:rgb(214, 211, 211);
font: size 15px;
padding: 6px;}




h1
{background-color: red;
color: rebeccapurple;
margin-top: 250px;
text-align: center;
width:500px;
margin-left:450px;}
h1:hover{
background-color:white;
color:black;}

p
{background-color: powderblue;
color: peru;
margin-top: 135px;}

p:hover
{background-color:red;
color:white;}



.form
{background-color: rgb(243, 243, 13);
color: rgb(245, 16, 161);
margin-left: 50%;
margin-right: 50%;  }